<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://assets.design.digital.engie.com/fluid/latest/fluid-design-system.css" crossorigin="anonymous">
  <script src="https://assets.design.digital.engie.com/fluid/latest/fluid-design-system.js" crossorigin="anonymous"></script>
  <title>{{ title }}</title>
</head>
<body>
  {{ content | safe }}
  <script>
    document.addEventListener('DOMContentLoaded', function(event) {
      NJ.AutoInit();
    });
  </script>
</body>
</html>
